@media (max-width: 1024px) {
    .container{
        max-width: 800px;
    }
    .promo{
        max-height: 600px;
    }
}
@media (max-width: 768px) {
    .container {
        max-width: 650px;
    }
    .hide {
        display: none;
    }
    .title {
        font-size: 28px;
    }
    .header {
        justify-content: space-around;
        &__logo {
            width: 230px;
        }
        &__phone {
            font-size: 17px;
        }
    }
    .promo {
        max-height: 550px;
        padding: 21px 10px 93px 10px;
        &__header {
            font-size: 35px;
        }
        &__subheader {
            font-size: 19px;
        }
        &__icons {
            margin-top: 60px;
            width: 370px;
        }
    }

    .consultation {
        min-height: 650px;
        padding: 70px 10px 50px 10px;
        &__descr {
            text-align: center;
        }
    }

    .advanteges {
        &__icons {
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    }


    .carousel {
        padding: 81px 0;
        &__inner {
            position: relative;
            max-width: 380px;
            margin: 0 auto;
        }
    }

    .catalog__tabs {
        max-width: 540px;
        margin: 70px auto;
        .catalog__tab {
            font-size: 16px;
        }
    }

    .catalog__content{
        margin: 0 auto;
    }

    .feed-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 60px;
        &__wrapper {
            max-width: 500px;
            padding: 10px;
        }
        &__icon {
            margin-right: 0;
            margin-bottom: 20px;
        }
        &__name {
            font-weight: 700;
            font-size: 18px;
            line-height: 18px;
            color: #0D0D0D;
            text-align: center;

        }
        &__marafones {
            font-weight: 500;
            font-size: 14px;
            line-height: 22px;
            color: #646464;
            text-align: center;

        }
        &__comment {
            font-weight: 300;
            font-size: 16px;
            line-height: 24px;
            color: #0D0D0D;
            margin-top: 20px;
        }
    
    }

    .footer{
        &__info {
            position: relative;
            top: none; 
            left: none; 
            transform: translateX(none); 
            width: 100%;
            padding: 20px 40px 20px 40px;
        }
        &__addr {
            font-size: 17px;
        }
        &__phone {
            font-size: 17px;
        }
    }


}

@media (max-width: 575px) {
    .catalog__tabs {
        max-width: 390px;
        margin: 70px auto;
        .catalog__tab {
            font-size: 13px;
        }
    }   

    .modal {
        width: 300px;
        padding: 20px 35px 20px 35px;
        &__close {
            right: -30px;
            font-size: 37px;
        }
        &__subtitle {
            font-size: 16px;
            line-height: 16px;
        }
        &__descr {
            font-size: 13px;
            line-height: 13px;   
        }
        &_mini {
            min-height: 140px;
        }
    }
    .feed-form_media {
        width: 100%;
    }
}

@media (max-width: 425px) {
    .container {
        max-width: 380px;
    }
    .header {
        justify-content: space-around;
        &__logo {
            width: 170px;
        }
        &__phone {
            font-size: 15px;
        }
    }
    .promo {
        max-height: 450px;
        padding: 21px 0 50px 0;
        &__wrapper {
            margin-top: 70px;
            align-items: center;
        }
        &__header {
            font-size: 26px;
        }
        &__subheader {
            font-size: 16px;
            margin-top: 10px;
        }
        &__icons {
            margin-top: 40px;
            width: 340px;
        }
    }
    .title_left {
        text-align: center;
        font-size: 26px;
    }

    .consultation {
        min-height: 600px;
        padding: 70px 10px 50px 10px;
        &__descr {
            text-align: center;
        }
    }

    .feed-form {
        margin: 20px auto;

    }

    .carousel {
        padding: 81px 0;
        &__inner {
            position: relative;
            max-width: 330px;
            margin: 0 auto;
        }
    }

    .catalog__tabs {
        max-width: 340px;
        margin: 70px auto;
        .catalog__tab {
            font-size: 12px;
        }
    }  
}
@media (max-width: 360px) {
    .container {
        max-width: 360px;
    }
    .title {
        font-size: 22px;
    }
    .header {
        justify-content: space-around;
        &__logo {
            width: 160px;
        }
        &__phone {
            font-size: 14px;
        }
    }
    .promo {
        padding: 21px 0 20px 0;
        &__wrapper {
            margin-top: 70px;
            align-items: center;
        }
        &__header {
            font-size: 21px;
        }
        &__subheader {
            font-size: 14px;
            margin-top: 10px;
        }
        &__icons {
            margin-top: 40px;
            width: 320px;
        }
    }


    .title_left {
        font-size: 20px;
    }


    .carousel {
        padding: 81px 0;
        &__inner {
            position: relative;
            max-width: 280px;
            margin: 0 auto;
        }
    }

    .catalog__tabs {
        max-width: 280px;
        margin: 70px auto;
        .catalog__tab {
            height: 40px;
            font-size: 9px;
            div {
                line-height: 38px;
            }
        }
    }  

    .footer{
        &__info {
            padding: 15px 35px 15px 35px;
            min-height: 160px;
        }
        &__addr {
            font-size: 15px;
        }
        &__phone {
            font-size: 15px;
        }
    }


    .modal {
        width: 260px;
        padding: 20px 35px 20px 35px;
        min-height: 330px;
        &__close {
            right: -25px;
            font-size: 37px;
        }
        &__subtitle {
            font-size: 15px;
            line-height: 16px;
        }
        &__descr {
            font-size: 12px;
            line-height: 13px;   
        }
        &_mini {
            min-height: 140px;
        }
    }
    .feed-form_media {
        width: 100%;
    }
}